<!DOCTYPE html>
<html lang="en">
<head>
<title>Index</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css">	
<!--// css -->
<!-- font -->
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>

<style type="text/css">
	a{margin-left: 20px; text-decoration: none; float:right; color:red;}
	a:hover{text-decoration: underline;
	.container {
		width: 50%;
		margin: 50px auto;
	}
	.column {
		margin-bottom: 20px;
	}
	div.input {
		width: 100%;
	}
</style>
</head>
<body>
<!-- Header -->
	<div class="header">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">
			    <!--欢迎登陆-->
                <h2 style="color:red">Welcome:   <%- user.name %>  </h2>
					<% if (user.facebook && user.facebook.id  != null) { %>  
					   <h2 style="color:red">Welcome :<%= user.facebook.name %></h2>
					<% } %>
					<% if (user.twitter && user.twitter.id != null) { %>  
						 <h2 style="color:red">Welcome :<%= user.twitter.displayName %></h2>
					<% } %>
					<% if (user.google && user.google.id != null) { %>  
						 <h2 style="color:red">Welcome : <%= user.google.name %></h2>
					<% } %> 
				<h3 style="color:red">online member: <%- title %></h3>
				<!--统计在线人数-->
				 当前在线人数: <span id="count"></span> <br/>
				<p><a href="/logout" id='logout'>Logout  </a> </p>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a  href="index.html"><h1>Games <img src="images/c1.png" alt=" " /> Zone</h1></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect"><a href="index.html">Home</a></li>
						<li class="hover-effect"><a href="about.html">About</a></li>
						<li class="hover-effect"><a href="games.html">Games</a></li>
						<li class="hover-effect"><a href="news.html">News</a></li>
						<li class="hover-effect"><a href="login.html">Login</a></li>
					</ul>
				</div>

			</div>
		</nav>
		<!-- //Navbar -->
		
     
		<!-- Slider -->
		<div class="slider">
			<ul class="rslides" id="slider">
				<li>
					<img src="images/banner3.jpg" alt="" />
				</li>
				<li>
					<img src="images/banner2.jpg" alt="" />
				</li>
				<li>
					<img src="images/banner1.jpg" alt="" />
				</li>
			</ul>
		</div>
		<!-- //Slider -->

	</div>
	<!-- Banner-Slider-JavaScript -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 800,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!-- //Banner-Slider-JavaScript -->
	<!-- //Header -->

<!-- trend -->
<div class="trend-w3layouts">
	<div class="container">
		<h2>Trending Games</h2>
		<ul id="flexiselDemo1">			
				<li>
					<div class="trend-grid">
						<h4>Racing Games</h4>
						<img src="images/tg1.jpg" alt=" " class="img-responsive" />
					</div>
				</li>
				<li>
					<div class="trend-grid">
						<h4>3D Games</h4>
						<img src="images/tg2.jpg" alt=" " class="img-responsive" />
					</div>
				</li>
				<li>
					<div class="trend-grid">
						<h4>Action Games</h4>
						<img src="images/tg3.jpg" alt=" " class="img-responsive" />
					</div>
				</li>
				<li>
					<div class="trend-grid">
						<h4>Toy Games</h4>
						<img src="images/tg4.jpg" alt=" " class="img-responsive" />
					</div>
				</li>
			</ul>
						<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems: 4,
									animationSpeed: 1000,
									autoPlay: true,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 2
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:3
										},
										tablet: { 
											changePoint:768,
											visibleItems: 4
										}
									}
								});
								
							});
					</script>
					<script type="text/javascript" src="js/jquery.flexisel.js"></script>
	</div>
</div>

<!--  looking for  group-->

<div class="new-w3-agile">
	<div class="container">
		<h3>Looking for group</h3>
          <div class="ui container">
<div class="column">
	<div class="ui input focus">
	  <input type="text" placeholder="Search...">
	</div>
</div>
</br>
<div class="column">
	 <table >
		<tbody class="tbody_1">
			<thead >
				<th>DURATION</th>
				<th>FIRETEAM TYPE</th>
				<th>DESCRIPTION</th>
				<th>Operation</th>
			</thead>
			<tr>
				<td>54 mins</td>
				<td>Griffeth</td>
				<td>Must have done once before, msg me</td>
				<td>
                 <a href="#" class="del">Delete</a>
                 <a href="#" class="modify">Modify</a>
				</td>
			</tr>
			<tr>
				<td>24 mins</td>
				<td>Alsop</td>
				<td>WOTM Aksis phase 1 normal. Need 2 players.</td>
				<td>
                <a href="#" class="del">Delete</a>
                <a href="#" class="modify">Modify</a>
				</td>
			</tr>
			<tr>
				<td>54 mins</td>
				<td>Belgrave</td>
				<td>any level any class, no mic</td>
				<td>
                <a href="#" class="del">Delete</a>
                <a href="#" class="modify">Modify</a>
				</td>
			</tr>
			<tr>
				<td>14 mins</td>
				<td>Nickelson</td>
				<td>Only a titan is needed</td>
				<td>
                <a href="#" class="del">Delete</a>
                <a href="#" class="modify">Modify</a>
				</td>
			</tr>
			<tr>
				<td>54 mins</td>
				<td>Abate</td>
				<td>I need four more people</td>
				<td>
                <a href="#" class="del">Delete</a>
                <a href="#" class="modify">Modify</a>
				</td>
			</tr>
			<tr>
				<td>24 mins</td>
				<td>Merone</td>
				<td>Only people who have beaten it once before</td>
				<td>
        
                <a href="#" class="del">Delete</a>
                <a href="#" class="modify">Modify</a>
				</td>
			</tr>
		</tbody>
		<input type='text' id='new1'value=""/>
		<input type='text' id='new2' value=""/>
        <input type='text' id='new3' value=""/>
		<input type='button' id='tijiao'  value="submit"/>
	</table>
	<script>
		$(function(){
			$('td a.del').click(function(){
				$(this).parents('tr').remove();
			})
		})
		$(document).ready(function(){
		   $('td a.del').click(function(){
				$(this).parents('tr').remove();
			})
			$('#tijiao').click(function(){
			   var content1=$('#new1').val();
			   var content2=$('#new2').val();
			   var content3=$('#new3').val();

               $('.tbody_1').append('<tr><td>'+content1+'</td><td>'+content2+'</td><td>'+content3+'</td><td><a href class="del">Delete</a> <a href="#" class="modify">Modify</a></td></tr>');  
              
			});
			var tds=$('td').not(':last-child');
			tds.dblclick(tdclick);
			function tdclick(){
				var text=$(this).text();
				var td=$(this);
				td.html("");
				var input=$('<input>');
				input.attr('value',text);
				input.blur(function(){
					var inputnode = $(this);
					//获取当前文本框的内容
					var inputext = inputnode.val();
					//清空td里边的内容,然后将内容填充到里边
					var tdNode = inputnode.parent();
					tdNode.html(inputext);
					//让td重新拥有点击事件
					tdNode.click(tdclick);
				});
			  td.append(input);
			  input.get(0).select();
			}
           
		});
	</script>
	<!-- 登陆成功后可以添加信息   -->
</div>
</div>
		<div class="clearfix"></div>
	</div>
<script src="./dist/jquery.easysearch.js"></script>
<script>
    $(document).ready(function(){
			
			$('input').jSearch({ 
			selector  : 'table',
			child : 'tr > td',
			minValLength: 0,
			Before: function(){
				$('table tr').data('find','');
			},
			Found : function(elem, event){
				$(elem).parent().data('find','true');
				$(elem).parent().show();
			},
			NotFound : function(elem, event){
				if (!$(elem).parent().data('find'))
				$(elem).parent().hide();
			},
			After : function(t){
				if (!t.val().length) $('table tr').show();
			}
			});

	});
	
</script>
</div>

<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-3 footer-left-w3">
			<h4>Contact</h4>
			<ul>
				<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
				<li><a href="mailto:example@mail.com"><h6>ex@mail.com</h6></a></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
				<li><h6>+18045678834</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
				<li><h6>4th Avenue,London</h6></li>
			</ul>
			<ul>
				<li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></li>
				<li><h6>(0033)6544 5453 644</h6></li>
			</ul>
		</div>
		<div class="col-md-5 footer-middle-w3">
			<h4>Latest Games</h4>
			<div class="col-md-3 img-w3-agile">
				<a href="single.html"><img src="images/ng1.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href="single.html"><img src="images/ng2.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href="single.html"><img src="images/ng3.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile">
				<a href="single.html"><img src="images/ng4.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="single.html"><img src="images/ng5.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="single.html"><img src="images/ng6.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="single.html"><img src="images/ng7.jpg" alt=" " /></a>
			</div>
			<div class="col-md-3 img-w3-agile footer-middle-wthree">
				<a href="single.html"><img src="images/ng8.jpg" alt=" " /></a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 footer-right-w3">
			<a href="index.html"><h4>Games <img src="images/f1.png" alt=" " /> Zone</h4></a>
			<p>Donec lobortis diam eu auctor porta. Phasellus in elementum tortor, sit amet imperdiet urna pellentesque non risus porta.</p>
			<p class="agileinfo">Suspendisse convallis malesuada libero, non rutrum arcu pellentesque lacinia.</p>
		</div>
		<div class="clearfix"></div>
		<div class="copyright">
			<p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://www.17sucai.com/"></a></p>
		</div>
	</div>
</div>

<!-- //footer -->
</body>
</html>